{
  "$schema": "https://json.schemastore.org/swcrc",
  "exclude": [
    ".*\\.spec.ts$",
    ".*\\.test.ts$"
  ],
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "dynamicImport": false,
      "decorators": false
    },
    "target": "es2022",
    "loose": false,
    "externalHelpers": false,
    "keepClassNames": false,
    "preserveAllComments": false,
    "baseUrl": "./src",
    "paths": {
      "@/*": ["./*"]
    }
  },
  "minify": false,
  "sourceMaps": true,
  "module": {
    "type": "commonjs"
  },
  "isModule": true
}
